body {
    margin: 0;
    padding: 0;
    font: 14px Arial, sans-serif;
}


.header-top {
    background-color: white;
    height: 70px;
    width: auto;
}

header {
    padding: 5px 0;
    z-index: 100001;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    background-color: #00193c;
}

.header-child {
    display: flex;
    z-index: 3;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    height: 45px;
    transform: translateZ(0);
    background-color: #00193c;
    background-image: url('/src/img/header_bg.webp');
}




.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-sizing: border-box;
}


.logo {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header-side {

    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    text-align: right;
    font-family: pf_din_text_cond_promedium, Arial, sans-serif;
}

.link {
    text-decoration: none;
    display: inline-block;
    margin-top: 12px;
    margin-right: 25px;
    line-height: 22px;
    color: #fff;
    font-size: 16px;
}

.engage {
    display: flex;
    align-items: center;
    justify-content: baseline;
    vertical-align: top;
    margin-right: 25px;
    padding-top: 1px;
}

.icon-e {
    color: white;
    text-shadow: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 11px;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.search-containe {
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    padding-bottom: 5px;
}


.search-input {
    line-height: 34px\9;
    margin: 0;
    padding: 0 34px 0 8px;
    outline: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    border-color: rgba(255, 255, 255, .3);
    background: none transparent;
    color: #fff;
    font-size: 18px;
    appearance: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 34px;
}

.search-submit {
    color: transparent;
    text-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    margin: 0 0 0 -34px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.lang-switcher {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    line-height: 45px;
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.nav-container {
    width: auto;
    background-color: #222;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    z-index: 2;
    top: 0;
    transform: translateZ(0);
    font-family: pf_din_text_cond_promedium, Arial, sans-serif;
}

.center {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    max-height: 91px;
    max-width: 900px;
    display: block;
    line-height: 45px;
}

.nav-i {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    transition: background-color .2s;
}

.important-news {
    margin-bottom: 35px;
}

.important-news-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city {
    position: relative;
    z-index: 1;
    float: left;
}

.icons {
    top: 39%;
    left: 9px;
    width: 620px;
    display: flex;
    justify-content: space-between;
}

.icon {
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -36.5px;
    width: 20%;
    height: 30%;
}

.city-content {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 2px;
    width: 100%;
    color: #fff;
    font-family: pf_din_text_cond_promedium, Arial, sans-serif;
    font-weight: 700;
}



.meta-child {
    display: inline-block;
    vertical-align: bottom;
    padding: 7px 20px;
    background-color: rgba(24, 148, 160, .8);
    font-size: 20px;
    line-height: 26px;
}


.title-one {
    font-size: 24px;
    line-height: 30px;
    padding: 0 20px;
    display: flex;
    height: 90px;
    align-items: center;
    background: rgba(0, 0, 0, .85);
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-i {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background-color: #fff;
    line-height: 0;
}


.img-container {
    position: relative;
    z-index: 1;
    display: block;
}

.img {
    width: 100%;
    height: 225px;
    background-size: cover;
    background-position: center center;
    background-color: #ddd;
}

.news-content {
    height: 155px;
    padding: 15px 20px 25px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-width: 0 1px;
    line-height: 1.5;
}



.when {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    max-width: 60px;
}

.when-date {
    padding: 6px 15px;
    background-color: #1894a0;
    color: #fff;
    text-align: center;
    font-family: pf_din_text_cond_promedium, Arial, sans-serif;
}

.date-day {
    font-size: 20px;

}


.date-month {
    font-size: 20px;
}


.when-time {
    color: white;
    padding: 5px 15px 3px;
    background-color: #334564;
    font-size: 14px;
    font-weight: 700;
}

.title-new {
    text-decoration: none;
    margin-bottom: 5px;
    color: #13317f;
    line-height: 1.25;
    font-family: pf_din_text_cond_promedium, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.stats {
    border-top: 1px solid #aaa;
    color: #aaa;
    font-weight: 700;
    font-size: 16px;
    cursor: default;
}

.stats-containe {
    background-image: none;
    box-shadow: none
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}